<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Seeking Website</title>
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
  <link rel="icon" href="logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="header-content">
        <div class="logo">
            <i class="fa-solid fa-book"></i>
          <span>AcademicProjects</span>
        </div>
        <nav>
          <a href="#" class="active">Student View</a>
          <a href="proff.html">Professor's Dashboard</a>
        </nav>
      </div>
    </div>
  </header>
  {% block content %}
  {% endblock %}
</body>
</html>