:root {
    --primary-color: #2563eb;
    --color-bg-secondary: #1f2937;
    --primary-dark: #1d4ed8;
    --text-color: #cbd5e1;
    --text-color-secondary: #fff;
    --surface-color: #1e293b;
    --border-color: #333;
    --input-bg: #2d3748;
    --input-bg-border: #2d3748;
    --hover-color: #2c2c2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container {
    margin:2.5rem;
}

.container-teacherform {
    max-width: 800px;
    margin: 0 auto;
    background: var(--surface-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #f9fafb;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--text-color);
}

input,textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--input-bg);
    border: 1px solid var(--input-bg-border);
    color: var(--text-color-secondary);
}

textarea {
    resize: vertical;
    height:8rem;
}

.submit-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: var(--primary-dark);
}

.skills-grp {
    padding: 0.5rem 0rem;  
}

.add-btn {
    margin-top: .5rem;
    padding: 0rem 3rem;
}

.skills{
    margin-top: 1.5rem;
}

.edit-profile-btn {
    margin-top: 4rem;
}

.custom-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: #0b5ed7;
}

.file-info {
    margin-left: 1rem;
    border: solid 0.05rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
